h1{
    font-size: 50;
    color: blue;
}
/* no id and class */
p{
    color: green;
}
/* id */
#first_ul{
    font-size: 20px;
    color : green ;
}
/* class */
.second_ul{
    font-size: 50px ;
    color: crimson;
}
:root{
    /* tạo một lớp giả và đặt tên biến để sử dụng */
    --my_color : red ;
    /* background-color: yellow; */
}
p{
    color : var(--my_color);
}