.image{
    width: 100%;
    height: 100vw;
    background-image: url(https://lh4.googleusercontent.com/D9q53K_kx-v8TbsDhXVxJnB9q0uRcwSckGSxfJwPv0f4etFZK-qfzjK928S6tYoEHM2s3pKgU5segqC0r0IcGONzllJ2FO-DYcemJ2ra0QUwCsoPv6T8ymEx_FZeNqLWuTJrJPkTShbnslKT-0c7cPg);
    padding: 20px;
    margin: 10px;
    border: 20px dashed yellow;
    background-size: 50%;
    background-repeat: no-repeat ;
    box-sizing: border-box;  
    background-origin: border-box;
    background-position: right center;
    /* background-position : mặc định  sau không nhập gì là center , di chuển ảnh nền*/
    /* background-origin: content-box; */
    /* background-origin : đi kèm với background-image */
    /* background-color : đi kèm background-clip */
    /* pseudo -classes ; lớp giả */
    /* :root : tham chiếu đến phàn tử gốc */
    /* :hover : sẽ đổi màu khi di chuột tới */
    /* :active : đổi màu css khi kích chuột vào vùng */
    /* :first-child : kích hoạt vị trí màu đàu tiên */
    /* :last-child : kích hoạt vị trí màu cuối cùng */
    /* :visited : chuyển màu sau khi chuyển đến chỗ css và không bị đổi lại*/
    /* pseudo element : phàn tử giả */

}